<%- include('../partials/header') %>


<h2>New Flight Form</h2>
<br>
<form action="/flights" method="POST">
  <label>Flight Number:</label>
  <input type="number" name="title">
  <label>Airline:</label>
  <select name="airline">
    <option value="American">American</option>
    <option value="Delta">Delta</option>
    <option value="Southwest">Southwest</option>
    <option value="United">United</option>
  </select>
  <label>Airport</label>
  <select name="airport">
    <option value="ATL">ATL</option>
    <option value="DFW">DFW</option>
    <option value="DEN">DEN</option>
    <option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
  </select>
  <label>Departs:</label>
  <input type="datetime-local" name="dateTime">
  <input type="submit" value="Add Flight">
</form>


<%- include('../partials/footer') %>